 @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;500&display=swap');
:root {
  --fg: white;
  --bg: black;
  --rad: 8px;
  --pad: 10px;
  --font: 16px/1.5 'Inconsolata', monospace;
}

body {
  font: var(--font);
  margin: 0;
  font: 16px/1.5 'Inconsolata', monospace;
  color: var(--fg);
  background: var(--bg);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

button {
  font: var(--font);
  cursor: pointer;
  color: var(--fg);
  border: none;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  border-radius: var(--rad);
  padding: var(--pad);
}

