.background {
  display: none;
  flex-direction: column;
  padding: calc(var(--pad) * 4);
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
}

.background > div:first-child {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.shown {
  display: flex;
}

.counter {
  margin-left: 0.5em;
}
