:root {
  --rad: 5px;
  --pad: 10px;
  --gap: 20px;
}

body {
  overflow: hidden;
  background: black;
  color: white;
  font:
    16px/1.5 "Inter",
    sans-serif;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

canvas {
  display: block;
  z-index: 1;
  position: fixed;
}

.overlay {
  z-index: 2;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  place-items: end center;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(30px);
}

.overlay.shown {
  display: grid;
}

.pause-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  border-radius: var(--rad);
  padding: var(--gap);
}

.pause-menu h1 {
  text-align: center;
}

button {
  border: none;
  color: white;
  font:
    16px/1 "Inter",
    sans-serif;
  font-weight: bold;
  cursor: pointer;
  border-radius: var(--rad);
  padding: var(--pad);
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

button:hover, button:focus {
  background: rgba(255, 255, 255, 0.25);
}

button:focus {
  border-color: rgba(255, 255, 255, 0.2);
  outline: none;
}

button:active {
  transform: translateY(2px);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--gap);
}
